$colors: (
    primary: (
        950: #0f0002,
        900: #1f0003,
        850: #2e0005,
        800: #3d0007,
        750: #4d0009,
        700: #5c000a,
        650: #6b000c,
        600: #7a000e,
        550: #8a000f,
        500: #990011,
        450: #a31a29,
        400: #ad3341,
        350: #b84d58,
        300: #c26670,
        250: #cc8088,
        200: #d699a0,
        150: #e0b3b8,
        100: #ebcccf,
        50: #f5e6e7,
    ),
    secondary: (
        950: #08090b,
        900: #101216,
        850: #181a20,
        800: #20232b,
        750: #282c36,
        700: #303541,
        650: #383e4c,
        600: #404656,
        550: #484f61,
        500: #50586C,
        450: #62697b,
        400: #737989,
        350: #858a98,
        300: #969ba7,
        250: #a8acb6,
        200: #b9bcc4,
        150: #cbcdd3,
        100: #dcdee2,
        50: #eeeef0,
    ),
)