@use "sass:color";
@use './scss/abstracts' as *;

.main-section-primary {
    background-color: $primary; 
}
.main-section-secondary {
    background-color: $secondary;
}
.center-element {
    @include element-center;
    font-size: halfValue(88px);
}
.middle {
    background: color.mix(black, #3498db, 10%);
}